// Place all the styles related to the admin/contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.editor-title {
    font-size: 2rem !important;
    padding: 15px !important;
}

.admin {
    menu {
        border: none;
    }
    .title-bar {
        background: #efefef !important;
    }
}
