// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blog-title {
    margin: 0 !important;
    padding: 0 !important;
}
.blog-subtitle {
    padding-left: 30px;
    margin-top: -20px;
    font-size: 1.5em;
}

.menu {
    margin-top: 45px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    li {
        font-weight: bold;
    }
}

article {
    --x-height-multiplier: 0.35;
    --baseline-multiplier: 0.179;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;


    code {
        font-size: .8em;
    }

    h3 {
        font-weight: bold;
        font-size: 1.5rem;
        a {
            color: #222;
            -o-transition:.5s;
            -ms-transition:.5s;
            -moz-transition:.5s;
            -webkit-transition:.5s;
            /* ...and now for the proper property */
            transition:.5s;
        }
    }

}

.sidebar {
    .box-title {
        h3 {
            font-size: 1.2rem;
            font-weight: bold;
            box-shadow: #fff 0 1px;
            margin: 0 0 .2em 0;
            font-weight: 700;
            padding-bottom: .2em;
            border-bottom: 1px solid #e0e0e0
        }
    }
    .box-content {
    }
}
